@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --background-highlight:#ffffff;
  --foreground: #070707;
  --foreground-highlight: #070707;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --background-highlight:#ffffff;
    --foreground: #070707;
    --foreground-highlight: #070707;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}